<!DOCTYPE html>
<head>
  <title></title>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a routerLink="/timer">Home</a></li>
      <li><a routerLink="/stats" *ngIf="signedIn">Stats</a></li>
	  <li style="float: right;" *ngIf="signedIn"><a routerLink="/profile">Profile</a></li>
	  <li style="float: right;" *ngIf="!signedIn"><a routerLink="/login">Login</a></li>
      <li style="float: right;" *ngIf="signedIn"><button type="button" (click)="logOut()">Logout</button></li>
      <li style="float: right;" *ngIf="signedIn"><a routerLink="/friends">Friends</a></li>
    </ul>
  </div>
  <h1>Find Friends</h1>
  <form>
    <p>Friend's Name</p>
    <input id="username">
    <button type="button" (click)="addFriend()">Find</button>
  </form>
  <div class="stats">
	<div *ngFor="let userFriend of userFriends">
	  <p>{{userFriend.friend_completefriend}}</p>
	</div>
  </div>
</body>
<footer>


</footer>