<!DOCTYPE html>
<head>
  <title></title>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a routerLink="/timer">Home</a></li>
      <li><a routerLink="/stats" *ngIf="signedIn">Stats</a></li>
	  <li style="float: right;" *ngIf="signedIn"><a routerLink="/profile">Profile</a></li>
	  <li style="float: right;" *ngIf="!signedIn"><a routerLink="/login">Login</a></li>
      <li style="float: right;" *ngIf="signedIn"><button type="button" (click)="logOut()">Logout</button></li>
    </ul>
  </div>
  <div class="scramble">
    <p>{{scramble}}</p>
	<button (click)="generateScramble()">Generate Scramble</button>
  </div>
  <div class="stats" *ngIf="signedIn">
    <p>{{Users[0].user_statbest || "No stat found"}}</p>
    <p>Stat 2</p>
    <p>Stat n</p>
    <p>Stat n</p>
    <p>Stat n</p>
    <p>Stat n</p>
    <p>Stat n</p>
    <p>Stat n</p>
  </div>
  <div class="timer">
    <p>{{displayedTime}}</p>
	<button (click)="startTimer()">Start</button>
	<button (click)="stopTimer()">Stop</button>
	<button (click)="resetTimer()">Reset</button>
  </div>
  <div class="room">
    <p>Room Info</p>
  </div>
</body>
<footer>


</footer>

<router-outlet></router-outlet>