<!DOCTYPE html>
<head>
  <title></title>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a routerLink="/timer">Home</a></li>
      <li><a routerLink="/stats" *ngIf="signedIn">Stats</a></li>
	  <li style="float: right;" *ngIf="signedIn"><a routerLink="/profile">Profile</a></li>
	  <li style="float: right;" *ngIf="!signedIn"><a routerLink="/login">Login</a></li>
      <li style="float: right;" *ngIf="signedIn"><button type="button" (click)="logOut()">Logout</button></li>
      <li style="float: right;" *ngIf="signedIn"><a routerLink="/friends">Friends</a></li>
    </ul>
  </div>
  <div class="scramble">
    <p>{{scramble}}</p>
	<button (click)="generateScramble()">Generate Scramble</button>
  </div>
  <div class="stats" *ngIf="signedIn">
	<div *ngFor="let userTime of userTimes">
	  <p>{{userTime.time_completetime}}</p>
	</div>
  </div>
  <div class="timer">
    <p>{{displayedTime}}</p>
	<button (click)="resetTimer()">Submit</button>
  </div>
</body>
<footer>


</footer>

<router-outlet></router-outlet>